/* borjaMontseny & AdriaChillon DAW2 M06 2024 */

/* Dinàmica de classes per ocultar i mostrar elements*/
.visible {
    display: block;
}

.ocult {
    display: none;
}

/* Formulari */
#formulari {
    width: 30%;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

/* CSS del teclat */
#teclat .row {
    display: flex;
}

#teclat button {
    width: 40px;
    height: 40px;
    margin: 1px;
    font-size: 16px;
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
}

#teclat #backspace {
    width: 125px;
    /* Ancho personalizado para backspace */
}

#teclat button:hover {
    background-color: lightgray;
}